# Example CrowdSec Helm values for integration with Traefik on MicroK8s.
# Official chart reference:
# https://github.com/crowdsecurity/helm-charts/blob/main/charts/crowdsec/values.yaml

container_runtime: containerd

agent:
  enabled: true
  acquisition:
    - namespace: "traefik"
      podName: "traefik-*"
      program: "traefik"
      poll_without_inotify: true
  env:
    - name: COLLECTIONS
      value: "crowdsecurity/traefik crowdsecurity/http-cve"
    - name: PARSERS
      value: "crowdsecurity/cri-logs crowdsecurity/traefik-logs"
  rbac:
    create: true
  persistentVolume:
    config:
      enabled: true
      storageClassName: hostpath-sc
      size: 100Mi

lapi:
  dashboard:
    enabled: false
  persistentVolume:
    data:
      enabled: true
      size: 1Gi
      storageClassName: hostpath-sc
    config:
      enabled: true
      size: 100Mi
      storageClassName: hostpath-sc
  service:
    type: ClusterIP
    ports:
      - name: lapi
        port: 8080
        targetPort: 8080

appsec:
  enabled: true
  acquisitions:
    - appsec_configs:
        - crowdsecurity/appsec-default
      labels:
        type: appsec
      listen_addr: 0.0.0.0:7422
      path: /
      source: appsec
  env:
    - name: COLLECTIONS
      value: crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-generic-rules
