# Default values overwritten
# https://github.com/crowdsecurity/helm-charts/blob/main/charts/crowdsec/values.yaml

container_runtime: containerd

agent:
  enabled: true
  acquisition:
    - namespace: "traefik"
      podName: "traefik-*"
      program: "traefik"
      poll_without_inotify: true
  env:
    - name: COLLECTIONS
      value: "crowdsecurity/traefik crowdsecurity/http-cve"
    - name: PARSERS
      value: "crowdsecurity/cri-logs crowdsecurity/traefik-logs"
  rbac:
    create: true
  persistentVolume:
    config:
      enabled: true
      storageClassName: hostpath-sc
      size: 100Mi

lapi:
  dashboard:
    enabled: false
  persistentVolume:
    data:
      enabled: true
      size: 1Gi
      storageClassName: hostpath-sc
    config:
      enabled: true
      size: 100Mi
      storageClassName: hostpath-sc
  service:
    type: ClusterIP
    ports:
      - name: lapi
        port: 8080
        targetPort: 8080

appsec:
  enabled: true
  configs:
    allow-websockets.yaml: |
      name: custom/allow-websockets
      on_match:
        - filter: req.Host == "immich.verbois.ovh" && req.URL.Path startsWith "/api/socket.io/"
          apply:
            - CancelEvent()
            - CancelAlert()
            - SetRemediation("allow")
        - filter: req.Host == "audiobook.verbois.ovh" && (req.URL.Path startsWith "/socket.io/" || req.URL.Path startsWith "/audiobookshelf/socket.io/")
          apply:
            - CancelEvent()
            - CancelAlert()
            - SetRemediation("allow")
        - filter: req.Host == "vault.verbois.ovh" && req.URL.Path startsWith "/notifications/hub"
          apply:
            - CancelEvent()
            - CancelAlert()
            - SetRemediation("allow")
        - filter: req.Host == "cloud.verbois.ovh" && req.URL.Path startsWith "/push/"
          apply:
            - CancelEvent()
            - CancelAlert()
            - SetRemediation("allow")
        - filter: req.Host == "plex.verbois.ovh" && req.URL.Path startsWith "/:/websocket"
          apply:
            - CancelEvent()
            - CancelAlert()
            - SetRemediation("allow")
  acquisitions:
    - appsec_configs:
        - crowdsecurity/appsec-default
        - custom/allow-websockets
      labels:
        type: appsec
      listen_addr: 0.0.0.0:7422
      path: /
      source: appsec
  env:
    - name: COLLECTIONS
      value: crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-generic-rules
