container_runtime: containerd

agent:
  enabled: true
  acquisition:
    - namespace: "traefik"
      podName: "traefik-*"
      program: "traefik"
      poll_without_inotify: true
  env:
    - name: COLLECTIONS
      value: "crowdsecurity/traefik crowdsecurity/http-cve"
    - name: PARSERS
      value: "crowdsecurity/cri-logs crowdsecurity/traefik-logs"
  rbac:
    create: true
  persistentVolume:
    config:
      enabled: false

lapi:
  dashboard:
    enabled: false

  persistentVolume:
    data:
      enabled: true
      size: 1Gi
      storageClassName: hostpath-sc
    config:
      enabled: true
      size: 100Mi
      storageClassName: hostpath-sc

  service:
    type: ClusterIP
    ports:
      - name: lapi
        port: 8080
        targetPort: 8080

appsec:
  enabled: true

  configs:
    allow-websockets.yaml: |
      name: custom/allow-websockets
      on_match:
        - filter: req.Host == "immich.example.org" && req.URL.Path startsWith "/api/socket.io/"
          apply:
            - CancelEvent()
            - CancelAlert()
            - SetRemediation("allow")
        - filter: req.Host == "audiobook.example.org" && (req.URL.Path startsWith "/socket.io/" || req.URL.Path startsWith "/audiobookshelf/socket.io/")
          apply:
            - CancelEvent()
            - CancelAlert()
            - SetRemediation("allow")
        - filter: req.Host == "vault.example.org" && req.URL.Path startsWith "/notifications/hub"
          apply:
            - CancelEvent()
            - CancelAlert()
            - SetRemediation("allow")
        - filter: req.Host == "cloud.example.org" && req.URL.Path startsWith "/push/"
          apply:
            - CancelEvent()
            - CancelAlert()
            - SetRemediation("allow")
        - filter: req.Host == "plex.example.org" && req.URL.Path startsWith "/:/websocket"
          apply:
            - CancelEvent()
            - CancelAlert()
            - SetRemediation("allow")

  acquisitions:
    - appsec_configs:
        - crowdsecurity/appsec-default
        - custom/allow-websockets
      labels:
        type: appsec
      listen_addr: 0.0.0.0:7422
      path: /
      source: appsec

  env:
    - name: COLLECTIONS
      value: "crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-generic-rules"

config:
  config.yaml.local: |
    api:
      client:
        unregister_on_exit: true
      server:
        auto_registration:
          enabled: true
          token: "${REGISTRATION_TOKEN}"
          allowed_ranges:
            - "127.0.0.1/32"
            - "10.0.0.0/8"
            - "172.16.0.0/12"
            - "192.168.0.0/16"
    db_config:
      flush:
        bouncers_autodelete:
          api_key: 1h
        agents_autodelete:
          login_password: 4m
