---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: rate-limit
  namespace: traefik
spec:
  rateLimit:
    average: 200
    burst: 150
    sourceCriterion:
      ipStrategy:
        depth: 1

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: bouncer
  namespace: traefik
spec:
  plugin:
    bouncer:
      enabled: true
      crowdsecLapiScheme: http
      crowdsecLapiHost: crowdsec-service.crowdsec.svc.cluster.local:8080
      crowdsecLapiKey: "CHANGE_ME_WITH_CROWDSEC_LAPI_KEY"
      crowdsecMode: stream
      updateIntervalSeconds: 60
      forwardIfClientOrLapiError: true
      crowdsecAppsecEnabled: true
      crowdsecAppsecHost: crowdsec-appsec-service.crowdsec.svc.cluster.local:7422
      crowdsecAppsecFailureBlock: true

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: compress
  namespace: traefik
spec:
  compress: {}

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: whitelist
  namespace: traefik
spec:
  ipAllowList:
    sourceRange:
      - "203.0.113.10/32"
      - "198.51.100.0/24"
    ipStrategy:
      depth: 1

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: geoblock
  namespace: traefik
spec:
  plugin:
    geoblock:
      api: "https://get.geojs.io/v1/ip/country/{ip}"
      apiTimeoutMs: 1500
      cacheSize: 500
      ipDatabaseCachePath: "/data/geoblock/ip-cache.json"
      allowLocalRequests: true
      logLocalRequests: false
      logAllowedRequests: false
      logApiRequests: false
      silentStartUp: true
      allowUnknownCountries: false
      forceMonthlyUpdate: true
      blackListMode: false
      countries:  # Define the countries you want to allow, or blacklist depending on the previous setting
        - "BE"
        - "FR"
        - "LU"

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: security-headers
  namespace: traefik
spec:
  headers:
    stsIncludeSubdomains: true
    stsPreload: true
    stsSeconds: 31536000
    contentTypeNosniff: true
    browserXssFilter: true
    customFrameOptionsValue: "SAMEORIGIN"
    customResponseHeaders:
      server: ""
      x-powered-by: ""
      Referrer-Policy: "strict-origin-when-cross-origin"

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: public-secure-chain
  namespace: traefik
spec:
  chain:
    middlewares:
      - name: bouncer
      - name: geoblock
      - name: rate-limit
      - name: security-headers
      - name: compress
